[color]
	ui = true
[merge]
	ff = false
[alias]
    co = checkout
    ci = commit
    st = status
[diff]
	external = /usr/share/git-core/git-diff-cmd.sh
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = magenta bold 
    local = yellow
    remote = cyan
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[url "https://"]
        insteadOf = git://
