[user]
	name = Deac
	email = deac@sdicg.com
[color]
	ui = true
[merge]
[alias]
    co = checkout
    ci = commit
    st = status
[diff]
	external = /usr/share/git-core/git-diff-cmd.sh
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = magenta bold 
    local = yellow
    remote = blue
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
	excludesfile = /Users/deac/.gitignore_global
[push]
	default = simple
